 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px 56px 0px 56px;
background-color: gray;
}

header{
    background-color: black;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
    color: antiquewhite;
}
.subheader{
    font-size: 36px;
    color: antiquewhite;
    margin: 16px 0px 24px 0px;
}

button{
    background-color: antiquewhite;
    color: black;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}
a{
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.logo{
    width: 120px;
}
ul{
    display: flex;
}

li{
    list-style-type: none;
    padding-left: 24px;
}

.row{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*

PREHISTORIC

*/

#prehistoric{
    padding: 48px 0px;
    background-color: white;
}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;;
}

.section__desc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prehistoric__img--wrapper{
    width: 40%;
    padding: 0px 24px;
}

img{
    width: 100%;
}

.section__desc--wrapper{
 width: 60%;
 padding: 0px 24px;
}

.section__desc--para{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/*

Civilization

*/
